html {
    scroll-behavior: smooth;
}
body {
    background-color: green;
}
.container {
    display: flex;
    background-color: lightgreen;
    border: solid 2px darkgreen;
    align-items: center;
    align-content: center;
    padding: 25px 10px 25px 10px;
    justify-content: center;
}
.item {
    margin-left: 25px;
    justify-content: center;
}
img {
    width: 200px;
    height: 200px;
    border: 2px solid black;
    border-radius: 100px;
    margin-top: 15px;
}
h2 {
    color: gray;
    font-family: Sans-Serif;
    font-size: 60px;
    font-style: bold;
}