html {
    scroll-behavior: smooth;
}
body {
    background-color: green;
}
.container {
    display: flex;
    background-color: lightgreen;
    border: solid 2px darkgreen;
    align-items: center;
    align-content: center;
    padding: 25px 10px 25px 10px;
    justify-content: center;
}
.item {
    margin-left: 25px;
    justify-content: center;
}
img {
    width: 200px;
    height: 200px;
    border: 2px solid black;
    border-radius: 100px;
    margin-top: 15px;
}
h2 {
    color: gray;
    font-family: Sans-Serif;
    font-size: 60px;
    font-style: bold;
}
.topnav {
    background-color: black;
    overflow: hidden;
}
.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 25px 60px 25px 60px;
    text-decoration: none;
    font-size: 30px;
}
.topnav a:hover {
    background-color: #ddd;
    color: black;
}
.topnav a.active {
    background-color: green;
    color: #f2f2f2;
}
.intro {
    font-size: 40px;
    text-align: center;
}
p {
    color: lightyellow;
}
#step {
    font-size: 30px;
}
form {
    
}
.form {
    background-color: yellowgreen;
    border-radius: 25px;
    font-size: 50px;
    color: teal;
}
#firstname #lastname #email #phone {
    
}
input {
    width: 90%;
    height: 60px;
    color: darkgrey;
    background-color: green;
    font-size: 30px;
}
#formtext {
    color: teal;
    padding: 12px 0 0 14px;
    
}
#bottom {
    color: teal;
    text-align: center;
}
button {
    background-color: lightgreen;
    width: 40%;
    height: 90px;
    text-align: center;
    align-items: center;
    font-size: 30px;
    border: 3px solid darkgreen;
    border-radius: 5px;
    margin-left: 250px;
}
a {
    color: teal;
}